* {
	box-sizing: border-box;
}
.content img {
	max-width: 100%;
	vertical-align: top;
}
.trail-map-info-box {
	background: #222;
	border: 1px solid gray;
	border-radius: 10px;
	color: white;
	padding: 10px;
}
.trail-map-info-box:after {
	content: "";
	position: absolute;
	bottom: -14px;
	left: 50%;
	background: transparent;
	height: 0px;
	width: 0px;
	border-top: 15px solid #222;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
}
.trail-map-info-box .content {
	font-size: 13px;
	display: -webkit-box;
	position: relative;
}

.trail-map-info-box .content > * {
	vertical-align: top;
}
.trail-map-info-box .thumbnail-wrapper {
}
.trail-map-description {
	padding-left: 10px;
	-webkit-box-flex: 1;
}
.trail-map-description > * {
	margin-bottom: 5px;
}
.traillength {
	font-size: 11px;
	font-style:italic
}
.rating-1 {
	background: transparent url(heartRating-01.png) no-repeat;
}
.rating-2 {
	background: transparent url(heartRating-02.png) no-repeat;
}
.rating-3 {
	background: transparent url(heartRating-03.png) no-repeat;
}
.rating-4 {
	background: transparent url(heartRating-04.png) no-repeat;
}
.rating-5 {
	background: transparent url(heartRating-05.png) no-repeat;
}
.rating {
	color: transparent;
	background-size: 36px auto;
}