@font-face {
  font-family: 'Trade Gothic LTS Condensed';
  src: url('../fonts/Trade Gothic LTS Condensed.otf') format('opentype');
}

/*header.css*/

.header {
	background: #613F22;
}
.header-button-row {
	display: -webkit-box;
	color: white;
	height: 44px;
	font-family: 'Trade Gothic LTS Condensed';
}
.header-button-row > * {
	-webkit-box-flex: 1;
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	padding: 5px 10px;
	font-size: 20px;
}
.header-button-row > *:first-child, .header-button-row > *:last-child {
	width: 80px;
}
.header-back-button {

}
.back-icon {
	background: transparent url(../images/caratBack.png) no-repeat;
	background-size: 14px;
	display: block;
	width: 14px; height: 22px;
	margin-right: 3px;
	pointer-events: none;
}
.back-text {
	margin-top: 6px;
}
.header-page-title {
	text-transform: uppercase;
	padding-top: 10px;
	width: 50%;
}

.header-add-to-fav {
	display: none;
}
.add-to-fav-icon {
	background: transparent url(../images/headerHeartIcon.png) no-repeat;
	background-size: 25px;
	display: inline-block;
	width: 25px; height: 23px;
	pointer-events: none;
}

.header-search-icon {
	background: transparent url(../images/search.png) no-repeat;
	background-size: 25px;
	display: inline-block;
	width: 25px; height: 23px;
	pointer-events: none;	
}