@font-face {
  font-family: 'Trade Gothic LTS Condensed';
  src: url('../fonts/Trade Gothic LTS Condensed.otf') format('opentype');
}

body {
	margin: 0px !important;
	background: url(../images/bg.jpg) no-repeat;
	text-align: center;
	background-size: 100%;
	height: 568px;
}

h1, h2, h3, h4, h5 {
	margin: 0px;
}

* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

.heroLogo {
	text-align: center;
	padding: 10px 5px;
}
#logo {
	width: 143px;
}

.heroWrapper {
	position: relative; 
	display: inline-block;
}

.articleTitle {
	position: absolute;
	font-size: 14px;
	color: #fff;
	font-family: 'helvetica';
	width: 60%;
	height: 100%;
	line-height: 1.3em;
	padding: 35px 0px 0px 20px; 

	text-align: left;
}

.main-row {
	display: -webkit-box;
	padding: 0px 10px;
}

.menu-box {
	-webkit-box-flex: 1;
	/*border-radius: 10px;*/
	border: white;
	margin-top: 10px;
	background-color: #5B391D;
	font-family: 'Trade Gothic LTS Condensed';
	color: #fff;
	border-style:solid;
	border-color:#fff;
}
.menu-box img {
	width: 95px;
}
.box-capture {
	-webkit-box-flex: 2;
	margin-left: 10px;
}
.box-capture, .box-search {
	display: -webkit-box;
	-webkit-box-align: end;
	-webkit-box-pack: center;
}
.box-search h3, .box-capture h3 {
	padding: 15px 0px;
}
.search-capture-row {
	display: -webkit-box;
	height: 200px;
}

.favorites-settings-row {
	display: -webkit-box;
	height: 140px;	
}

.box-favorites {
	-webkit-box-flex: 10;
	margin-right: 10px;
}
.box-favorites h3, .box-settings h3 {
	text-align: left;
	padding-left: 15px;
	padding-top: 10px;
}
.box-favorites > * {
	display: block;
}
